html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(15 23 42 / 1);
    color: #ffffffb3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.navbar-brand {
    color: #fff;
    border-radius: 20px;
    border: 1px solid white;
    margin-left: 50px;
    width: 40px;
    text-align: center;
    height: 40px;
}

.navbar-brand:hover {
    color: skyblue;
    border-radius: 20px;
    border: 1px solid skyblue;
    background-color: #fff;
}

body nav {
    /* background-color: #023046 !important; */
    position: fixed !important;
    width: 100%;
    top: 0;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

ul li a {
    color: #fff !important;
}

ul li {
    padding: 5px;
}

.btn-home {
    padding: 15px 32px;
    border: 1px solid skyblue;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
}

.underlinedHead {
    width: 50px;
    border-bottom: 1px solid white;
}

#about li {
    list-style: none;
}

/* #about ul { */
/* display: grid;
    grid-template-columns: repeat(2, minmax(156px, 221px)); */
/* gap: 0px 10px; */
/* padding-left: 52px; */
/* margin: 20px; */
/* } */

.progress-bar {
    background-color: #18aacb;
    border: 1px solid #18aacb;
    border-radius: 20px;
}

.progress {
    --bs-progress-height: 15px;
    --bs-progress-bg: none
}

#aboutImage img {
    opacity: 0.5;
}

#aboutImage img:hover {
    opacity: 1;
}

.experiencePlace {
    display: flex;
    justify-content: space-between;
    color: rgb(35 61 124);
    text-decoration: none;
}

.experiencePlace {
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
}

.experiencePlace:hover {
    color: rgb(35 61 124);
}

.experiencePlace i:hover {
    margin: 10px;
}

.techUsedClass {
    margin: 2px;
    padding: 1px 10px;
    border-radius: 10px;
    border: 1px solid #023046;
    background-color: #023046;
    font-size: 14px;
}

.paraTag {
    font-size: 15px;
}

.contactUrls span a {
    text-decoration: none;
    color: #fff;
}

.contactUrls span {
    padding: 10px;
    font-size: 22px;
}

.contactUrls::after {
    border: 1px solid red !important;
}

.navActiveStyle {
    background-color: rgba(255, 255, 255, .3) !important;
}


/*  Scroll */

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrolled {
    background-color: #142c4a !important;
}

#role {
    overflow: hidden;
    white-space: nowrap;
    animation: typing;
    animation-duration: 4.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    word-wrap: break-word;
    font-size: 50px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.btn-home a {
    text-decoration: none;
    color: white;
}

/* Responsive */

@media (min-width: 300px) {
    #role {
        font-size: 20px;
    }
}

@media (min-width: 500px) {
    #role {
        font-size: 30px;
    }
}

@media (min-width: 700px) {
    #role {
        font-size: 40px;
    }
}